.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    border-bottom: 1px solid #a5fce3;
    color: white;
    background-image: linear-gradient(to top, rgb(240, 29, 117), rgb(250, 73, 73));
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.chatboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.userList {
    width: 300px;
    height: 100vh;
    overflow-y: scroll;
}

.userList::-webkit-scrollbar {
    width: 2px;
}

.userList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(69, 66, 243, 0.3);
}

.userList::-webkit-scrollbar-thumb {
    background-color: darkgray;
    outline: rgb(67, 248, 50);
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 0.5px solid grey;
}

.user img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    padding-right: 5px;
}


.messages {
    width: 70%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 800px;
    border-right: 0.5px solid darkgray;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.textInput {
    width: 70%;
}

.btn {
    width: 160px;
}

.profile {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile img {
    width: 70%;
    height: 60%;
    padding: 20px;
    border-radius: 50%;
}