.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    color: white;
    background-image: linear-gradient(to top, rgb(240, 29, 117), rgb(250, 73, 73));
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.chatboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #f6fcff;
}


.userList {
    width: 300px;
    height: 100vh;
    background-color: #192a56;
    overflow-y: scroll;
}

.userList::-webkit-scrollbar {
    width: 2px;
}

.users {
    height: 100vh;
}

.logout {
    text-align: center;
    padding: 10px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: white;
}

.user img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    padding-right: 5px;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
}

.messages {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.input {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.fileSelect {
    border-radius: 10%;
    border: none;
    background-color: rgb(23, 240, 70);
    color: white;
}

.fileSelect:hover {
    cursor: pointer;
}

.textInput {
    width: 80%;
}

.imageInput {
    width: 160px;
    overflow: hidden
}

.btn {
    width: 160px;
}


