.message {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
}

.body {
    background-color: #6cc4c4;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    color: white;
    padding: 0 10px;
}
